*.lo
*.o
*.la

compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh

*.udb

Makefile
Makefile.in
aclocal.m4
autom4te.cache/
m4/
man/Makefile
man/Makefile.in
missing

src/.deps/
src/.libs/
stamp-h1
